{
  "openapi": "3.0.1",
  "info": {
    "title": "Twilio Memory API",
    "description": "APIs for managing memory stores, profiles, events, and conversational intelligence capabilities.",
    "version": "1.0",
    "termsOfService": "https://www.twilio.com/legal/tos",
    "contact": {
      "name": "Twilio Support",
      "url": "https://support.twilio.com",
      "email": "support@twilio.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-twilio": {
      "apiStandards": "v1.0"
    }
  },
  "servers": [
    {
      "url": "https://memory.twilio.com"
    }
  ],
  "paths": {
    "/v1/Stores/{storeId}/Profiles/{profileId}/Observations/{observationId}": {
      "servers": [
        {
          "url": "https://memory.twilio.com"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/ProfileId"
        },
        {
          "$ref": "#/components/parameters/ObservationId"
        }
      ],
      "x-twilio": {
        "pathType": "instance",
        "defaultOutputProperties": ["message"]
      },
      "delete": {
        "operationId": "DeleteProfileObservation",
        "summary": "Delete Observation",
        "description": "Delete a specific transient observation by its ID. This action is irreversible.",
        "tags": [
          "Observations"
        ],
        "responses": {
          "202": {
            "description": "Observation deletion accepted and is being processed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "maxLength": 255,
                      "example": "Observation deletion accepted"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "308": {
            "$ref": "#/components/responses/PermanentRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basic_apikey_or_accountsid": {
        "scheme": "basic",
        "type": "http",
        "description": "This API uses [basic authentication](https://www.twilio.com/docs/glossary/what-is-basic-authentication). Use an [API key](https://www.twilio.com/docs/iam/api-keys) as the username and the API key secret as the password. You can also use your account SID and auth token, but limit their use to local testing."
      },
      "accountSid_authToken": {
        "scheme": "basic",
        "type": "http"
      }
    },
    "schemas": {
      "TwilioError": {
        "type": "object",
        "additionalProperties": false,
        "maxProperties": 10,
        "description": "A generic error object communicating client and server side API errors.",
        "properties": {
          "code": {
            "type": "integer",
            "minimum": 100,
            "maximum": 99999,
            "description": "The Twilio error code.",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "maxLength": 1024,
            "description": "A human readable message describing the error."
          },
          "more_info": {
            "type": "string",
            "description": "A URL to a [Twilio error directory](https://www.twilio.com/docs/api/errors) page with more information about the error code."
          },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599,
            "description": "The HTTP status code for the error.",
            "format": "int32"
          }
        },
        "example": {
          "code": 21614,
          "message": "The address specified in the request is not a valid phone number.",
          "more_info": "https://www.twilio.com/docs/api/errors/21614",
          "status": 400
        }
      },
      "IdentityProfileID": {
        "type": "string",
        "pattern": "^mem_profile_[0-7][0-9a-z]{25}$",
        "example": "mem_profile_00000000000000000000000000",
        "description": "The canonical profile ID."
      },
      "Identifier": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "idType",
          "value"
        ],
        "description": "Represents a single identifier value paired with its `idType`. Write operations obey limits, uniqueness, and normalization rules configured via identifier settings.",
        "properties": {
          "idType": {
            "type": "string",
            "description": "Identifier type as configured in the service's Identity Resolution Settings.",
            "minLength": 2,
            "maxLength": 30,
            "example": "phone"
          },
          "value": {
            "type": "string",
            "description": "Raw value captured for the identifier. The service may normalize this value according to the `normalization` rule defined in the identifier settings before storage or matching (for example E.164 formatting for phone numbers).",
            "maxLength": 255,
            "example": "+13175556789"
          }
        }
      },
      "IdentifierSet": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "idType",
          "values"
        ],
        "description": "All the known values for a specific identifier type. These are normalized according to the corresponding identifier settings and ordered chronologically. It includes any promoted values from traits and explicitly set values from API calls, both historical and current.",
        "properties": {
          "idType": {
            "type": "string",
            "description": "Identifier type defined in Identity Resolution Settings.",
            "minLength": 2,
            "maxLength": 30,
            "example": "email"
          },
          "values": {
            "type": "array",
            "maxItems": 100,
            "description": "Server managed collection of stored values for the identifier type.  Identifier values are normalized according to the corresponding identifier settings and ordered chronologically.",
            "items": {
              "type": "string",
              "maxLength": 255
            },
            "example": [
              "primary@example.com",
              "backup@example.com"
            ]
          }
        }
      },
      "IdentifierUpdate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "idType",
          "oldValue",
          "newValue"
        ],
        "properties": {
          "idType": {
            "type": "string",
            "description": "The identifier type to update (e.g., email, phone).",
            "minLength": 2,
            "maxLength": 30,
            "example": "phone"
          },
          "oldValue": {
            "type": "string",
            "description": "Existing stored value to replace.",
            "maxLength": 255,
            "example": "+13175556789"
          },
          "newValue": {
            "type": "string",
            "description": "New value to store for the identifier. Normalization rules from the corresponding identifier settings apply.",
            "maxLength": 255,
            "example": "+13175556798"
          }
        }
      },
      "ObservationID": {
        "type": "string",
        "description": "A unique identifier for the observation using Twilio Type ID (TTID) format.",
        "pattern": "^mem_observation_[0-7][0-9a-z]{25}$",
        "example": "mem_observation_00000000000000000000000000"
      },
      "SummaryID": {
        "type": "string",
        "description": "A unique identifier for the summary using Twilio Type ID (TTID) format.",
        "pattern": "^mem_summary_[0-7][0-9a-z]{25}$",
        "example": "mem_summary_00000000000000000000000000"
      },
      "ConversationID": {
        "type": "string",
        "description": "A unique identifier for the conversation using Twilio Type ID (TTID) format.",
        "pattern": "^conv_conversation_[0-7][0-9a-z]{25}$",
        "example": "conv_conversation_00000000000000000000000000"
      },
      "ObservationCore": {
        "type": "object",
        "description": "Core mutable properties for creating observation objects.",
        "properties": {
          "content": {
            "type": "string",
            "description": "The main content of the observation.",
            "minLength": 1,
            "maxLength": 4096,
            "example": "Customer expressed satisfaction with recent product update during support call."
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the observation originally occurred.",
            "example": "2025-01-15T10:15:30Z"
          },
          "source": {
            "type": "string",
            "description": "The source system that generated this observation. Allows letters, numbers, spaces, and URL-safe symbols. Excludes URL-unsafe characters like quotes, angle brackets, and control characters.",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9 _.-]+$",
            "example": "conversational-intelligence"
          },
          "conversationIds": {
            "type": "array",
            "description": "Array of conversation IDs associated with this observation.",
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/ConversationID"
            }
          }
        },
        "required": [
          "content",
          "source",
          "occurredAt"
        ]
      },
      "ObservationInfo": {
        "type": "object",
        "description": "A transient and mutable observation memory associated with a profile.",
        "properties": {
          "content": {
            "type": "string",
            "description": "The main content of the observation.",
            "minLength": 1,
            "maxLength": 4096,
            "example": "Customer expressed satisfaction with recent product update during support call."
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the observation originally occurred.",
            "example": "2025-01-15T10:15:30Z"
          },
          "source": {
            "type": "string",
            "description": "The source system that generated this observation. Allows letters, numbers, spaces, and URL-safe symbols. Excludes URL-unsafe characters like quotes, angle brackets, and control characters.",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9 _.-]+$",
            "example": "conversational-intelligence"
          },
          "conversationIds": {
            "type": "array",
            "description": "Array of conversation IDs associated with this observation.",
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/ConversationID"
            }
          },
          "id": {
            "$ref": "#/components/schemas/ObservationID"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the observation was created.",
            "example": "2025-01-15T10:30:45Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the observation was last updated.",
            "example": "2025-01-15T10:30:45Z"
          }
        },
        "required": [
          "content",
          "id",
          "createdAt",
          "source",
          "occurredAt",
          "updatedAt"
        ]
      },
      "SummaryCore": {
        "type": "object",
        "description": "Core mutable properties for creating summary objects.",
        "properties": {
          "source": {
            "type": "string",
            "description": "The source system that generated the summary. Allows letters, numbers, spaces, and URL-safe symbols. Excludes URL-unsafe characters like quotes, angle brackets, and control characters.",
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9 _.-]+$",
            "example": "conversations"
          },
          "content": {
            "type": "string",
            "description": "The main content of the summary.",
            "minLength": 1,
            "maxLength": 4096,
            "example": "Customer discussed billing concerns and was satisfied with the resolution provided during this conversation."
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the summary was originally created.",
            "example": "2025-01-15T10:15:30Z"
          },
          "conversationId": {
            "$ref": "#/components/schemas/ConversationID"
          }
        },
        "required": [
          "content",
          "conversationId",
          "occurredAt"
        ]
      },
      "SummaryInfo": {
        "type": "object",
        "description": "A summary memory derived from conversations.",
        "properties": {
          "source": {
            "type": "string",
            "description": "The source system that generated the summary. Allows letters, numbers, spaces, and URL-safe symbols. Excludes URL-unsafe characters like quotes, angle brackets, and control characters.",
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9 _.-]+$",
            "example": "conversations"
          },
          "content": {
            "type": "string",
            "description": "The main content of the summary.",
            "minLength": 1,
            "maxLength": 4096,
            "example": "Customer discussed billing concerns and was satisfied with the resolution provided during this conversation."
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the summary was originally created.",
            "example": "2025-01-15T10:15:30Z"
          },
          "conversationId": {
            "$ref": "#/components/schemas/ConversationID"
          },
          "id": {
            "$ref": "#/components/schemas/SummaryID"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the summary was created.",
            "example": "2025-01-15T10:30:45Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the summary was last updated.",
            "example": "2025-01-15T10:30:45Z"
          }
        },
        "required": [
          "content",
          "id",
          "conversationId",
          "createdAt",
          "occurredAt",
          "updatedAt"
        ]
      },
      "Participant": {
        "type": "object",
        "required": [
          "id",
          "name",
          "address",
          "channel"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Participant identifier.",
            "pattern": "^conv_participant_[0-7][0-9a-z]{25}$",
            "example": "conv_participant_00000000000000000000000000"
          },
          "name": {
            "type": "string",
            "maxLength": 256,
            "description": "Participant display name"
          },
          "type": {
            "$ref": "#/components/schemas/ParticipantType",
            "description": "Type of Participant in the Conversation"
          },
          "profileId": {
            "type": "string",
            "pattern": "^mem_profile_[0-7][0-9a-z]{25}$",
            "example": "mem_profile_00000000000000000000000000",
            "description": "The canonical profile ID."
          },
          "address": {
            "type": "string",
            "description": "Address of the Participant (e.g., phone number, email address)",
            "example": "+12025551234",
            "maxLength": 254
          },
          "channel": {
            "type": "string",
            "description": "The channel on which the message originated",
            "enum": [
              "VOICE",
              "SMS",
              "RCS",
              "EMAIL",
              "WHATSAPP",
              "CHAT",
              "API",
              "SYSTEM"
            ]
          }
        }
      },
      "ParticipantType": {
        "type": "string",
        "description": "Type of Participant in the Conversation",
        "enum": [
          "HUMAN_AGENT",
          "CUSTOMER",
          "AI_AGENT",
          "AGENT",
          "UNKNOWN"
        ]
      },
      "CommunicationContent": {
        "type": "object",
        "description": "Content of a communication.",
        "properties": {
          "text": {
            "type": "string",
            "description": "Primary text content (optional).",
            "maxLength": 8388608,
            "example": "Hello, I need help with my account"
          }
        }
      },
      "Communication": {
        "type": "object",
        "description": "A single communication within a conversation across channels including SMS, Voice, Email, etc. Contains fields that are relevant to an agent to maintain session memory.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique communication identifier.",
            "pattern": "^conv_communication_[0-7][0-9a-z]{25}$",
            "example": "conv_communication_00000000000000000000000000"
          },
          "channelId": {
            "type": "string",
            "maxLength": 256,
            "description": "Channel-specific ID (optional).",
            "example": "SM00000000000000000000000000000000"
          },
          "content": {
            "$ref": "#/components/schemas/CommunicationContent"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When communication was created.",
            "example": "2025-01-15T10:15:30Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When communication was last updated.",
            "example": "2025-01-15T10:20:30Z"
          },
          "author": {
            "$ref": "#/components/schemas/Participant"
          },
          "recipients": {
            "type": "array",
            "maxItems": 100,
            "description": "Communication recipients",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Participant identifier.",
                  "pattern": "^conv_participant_[0-7][0-9a-z]{25}$",
                  "example": "conv_participant_00000000000000000000000000"
                },
                "name": {
                  "type": "string",
                  "maxLength": 256,
                  "description": "Participant display name"
                },
                "type": {
                  "$ref": "#/components/schemas/ParticipantType",
                  "description": "Type of Participant in the Conversation"
                },
                "profileId": {
                  "type": "string",
                  "pattern": "^mem_profile_[0-7][0-9a-z]{25}$",
                  "example": "mem_profile_00000000000000000000000000",
                  "description": "The canonical profile ID."
                },
                "address": {
                  "type": "string",
                  "description": "Address of the Participant (e.g., phone number, email address)",
                  "example": "+12025551234",
                  "maxLength": 254
                },
                "channel": {
                  "type": "string",
                  "description": "The channel on which the message originated",
                  "enum": [
                    "VOICE",
                    "SMS",
                    "RCS",
                    "EMAIL",
                    "WHATSAPP",
                    "CHAT",
                    "API",
                    "SYSTEM"
                  ]
                },
                "deliveryStatus": {
                  "type": "string",
                  "description": "Delivery status of the Communication to this recipient",
                  "enum": [
                    "INITIATED",
                    "IN_PROGRESS",
                    "DELIVERED",
                    "COMPLETED",
                    "FAILED"
                  ]
                }
              },
              "required": [
                "channel",
                "name",
                "id",
                "address"
              ]
            }
          }
        },
        "required": [
          "id",
          "author",
          "content",
          "recipients"
        ]
      },
      "MemoryRetrievalRequest": {
        "type": "object",
        "description": "Request payload for retrieving profile memories with advanced filtering and semantic search.",
        "properties": {
          "conversationId": {
            "$ref": "#/components/schemas/ConversationID",
            "description": "Required for session memory and query expansion."
          },
          "query": {
            "type": "string",
            "description": "Hybrid search query for finding relevant memories. Omit to use query expansion to generate query from previous 10 communications in conversation.",
            "minLength": 0,
            "maxLength": 1024,
            "example": "customer satisfaction feedback"
          },
          "beginDate": {
            "type": "string",
            "format": "date-time",
            "description": "Start date for filtering memories (inclusive).",
            "example": "2025-01-01T00:00:00Z"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date for filtering memories (exclusive).",
            "example": "2025-01-31T23:59:59Z"
          },
          "communicationsLimit": {
            "type": "integer",
            "description": "Maximum number of conversational session memories to return. If omitted or set to 0, no session memories will be fetched.",
            "minimum": 0,
            "maximum": 100,
            "default": 0,
            "example": 10
          },
          "observationsLimit": {
            "type": "integer",
            "description": "Maximum number of observation memories to return. If omitted, defaults to 20. If set to 0, no observation memories will be fetched.",
            "minimum": 0,
            "maximum": 100,
            "default": 20,
            "example": 20
          },
          "summariesLimit": {
            "type": "integer",
            "description": "Maximum number of summary memories to return. If omitted, defaults to 5. If set to 0, no summary memories will be fetched.",
            "minimum": 0,
            "maximum": 100,
            "default": 5,
            "example": 5
          },
          "relevanceThreshold": {
            "type": "number",
            "format": "double",
            "description": "Minimum relevance score threshold for observations and summaries to be returned. Only memories with a relevance score greater than or equal to this threshold will be included in the response. This threshold only applies when results are ranked by relevance. When results are returned in most-recent order, this field has no effect.",
            "minimum": 0,
            "maximum": 1,
            "default": 0,
            "example": 0.5
          }
        }
      },
      "MemoryRetrievalResponse": {
        "type": "object",
        "description": "Response containing retrieved profile memories organized by type.",
        "properties": {
          "observations": {
            "type": "array",
            "description": "Array of observation memories.",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/RecallObservationInfo"
            }
          },
          "summaries": {
            "type": "array",
            "description": "Array of summary memories derived from observations at the end of conversations.",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/RecallSummaryInfo"
            }
          },
          "communications": {
            "type": "array",
            "description": "Array of recent communication context.",
            "minItems": 0,
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/Communication"
            }
          },
          "meta": {
            "type": "object",
            "description": "Metadata about the retrieval operation.",
            "properties": {
              "queryTime": {
                "type": "integer",
                "description": "Query execution time in milliseconds.",
                "minimum": 0,
                "maximum": 600000,
                "example": 156
              }
            },
            "required": [
              "queryTime"
            ]
          }
        },
        "required": [
          "observations",
          "summaries",
          "communications",
          "meta"
        ]
      },
      "ObservationsMeta": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "nullable": false,
            "maxLength": 64,
            "description": "The key of the list property contains the actual data items.\nThis enables programmatic iteration over paginated results.\n",
            "example": "observations"
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "default": 50
          },
          "nextToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096,
            "example": "eyJlYXN0ZXIiOiJlZ2cifQ"
          },
          "previousToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096,
            "example": "eyJlYXN0ZXIiOiJlZ2cifQ"
          }
        }
      },
      "CreateObservationsRequest": {
        "type": "object",
        "description": "Request payload for creating one or more observations. Supports creation of up to 10 observations.",
        "properties": {
          "observations": {
            "type": "array",
            "description": "Array of observations to create in a single batch operation.",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/ObservationCore"
            }
          }
        },
        "required": [
          "observations"
        ],
        "additionalProperties": false
      },
      "ObservationCreatedResponse": {
        "type": "object",
        "description": "Response for batch observation creation.",
        "properties": {
          "message": {
            "type": "string",
            "description": "Confirmation message for the operation.",
            "minLength": 1,
            "maxLength": 255,
            "example": "Observations creation accepted"
          }
        },
        "required": [
          "message"
        ]
      },
      "CreateSummariesRequest": {
        "type": "object",
        "description": "Request payload for creating one or more conversation summaries. Supports creation of up to 10 summaries.",
        "properties": {
          "summaries": {
            "type": "array",
            "description": "Array of summaries to create in a single batch operation.",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/SummaryCore"
            }
          }
        },
        "required": [
          "summaries"
        ],
        "additionalProperties": false
      },
      "SummariesCreatedResponse": {
        "type": "object",
        "description": "Response for batch summary creation.",
        "properties": {
          "message": {
            "type": "string",
            "description": "Confirmation message for the operation.",
            "minLength": 1,
            "maxLength": 255,
            "example": "Summaries creation accepted"
          }
        },
        "required": [
          "message"
        ]
      },
      "ProfilesMeta": {
        "type": "object",
        "maxProperties": 4,
        "properties": {
          "key": {
            "type": "string",
            "nullable": false,
            "maxLength": 64,
            "description": "The key of the list property contains the actual data items.\nThis enables programmatic iteration over paginated results.\n",
            "example": "profiles"
          },
          "pageSize": {
            "type": "integer",
            "default": 50
          },
          "nextToken": {
            "type": "string",
            "example": "eyJlYXN0ZXIiOiJlZ2cifQ",
            "maxLength": 4096
          },
          "previousToken": {
            "type": "string",
            "example": "eyJlYXN0ZXIiOiJlZ2cifQ",
            "maxLength": 4096
          }
        }
      },
      "ProfileID": {
        "type": "string",
        "pattern": "^mem_profile_[0-7][0-9a-z]{25}$",
        "example": "mem_profile_00000000000000000000000000",
        "description": "The canonical profile ID."
      },
      "TraitValue": {
        "description": "The value of a trait. Can be a string, integer, boolean, or an array of these types (arrays cannot contain nested arrays)."
      },
      "FullTrait": {
        "type": "object",
        "title": "Full Trait",
        "description": "Full metadata about a trait, beyond the name value pair.",
        "additionalProperties": false,
        "maxProperties": 4,
        "required": [
          "name",
          "traitGroup"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the trait.",
            "example": "firstName",
            "maxLength": 64
          },
          "value": {
            "$ref": "#/components/schemas/TraitValue"
          },
          "traitGroup": {
            "type": "string",
            "description": "The trait group name to which this trait belongs.",
            "example": "Contact",
            "maxLength": 64
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The time the trait was created or last updated.",
            "example": "2025-01-01T12:00:00Z"
          }
        }
      },
      "TraitGroups": {
        "type": "object",
        "description": "Multiple trait groups.",
        "maxProperties": 50,
        "example": {
          "Contact": {
            "email": "Alyssa.Mock@example.com",
            "phone": "+13175551234",
            "lastName": "Mock",
            "firstName": "Alyssa",
            "street": "123 Main St",
            "city": "San Francisco",
            "state": "CA",
            "postalCode": "94107",
            "country": "US"
          }
        },
        "additionalProperties": {
          "x-additionalPropertiesName": "TraitGroupPropertyName",
          "type": "object",
          "description": "Multiple traits.",
          "maxProperties": 99,
          "additionalProperties": {
            "description": "The value of a trait. Can be a string, integer, boolean, or an array of these types (arrays cannot contain nested arrays)."
          }
        }
      },
      "ProfileData": {
        "type": "object",
        "description": "Data for creating or updating a profile, including traits.",
        "additionalProperties": false,
        "properties": {
          "traits": {
            "$ref": "#/components/schemas/TraitGroups"
          }
        }
      },
      "Profile": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ProfileID"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The time the profile was created.",
            "example": "2025-01-01T12:00:00Z"
          },
          "traits": {
            "$ref": "#/components/schemas/TraitGroups"
          }
        }
      },
      "ProfilePatch": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "traits": {
            "$ref": "#/components/schemas/TraitGroups"
          }
        }
      },
      "ImportID": {
        "type": "string",
        "pattern": "^mem_import_[0-7][0-9a-z]{25}$",
        "example": "mem_import_00000000000000000000000000",
        "description": "The import operation ID."
      },
      "ColumnMappingItem": {
        "type": "object",
        "additionalProperties": false,
        "description": "Mapping of a CSV header column to the trait fields",
        "required": [
          "columnName",
          "traitGroup",
          "traitName"
        ],
        "properties": {
          "columnName": {
            "type": "string",
            "description": "The name of the column in the CSV header",
            "example": "first_name",
            "maxLength": 64
          },
          "traitGroup": {
            "type": "string",
            "description": "The trait group to which this trait belongs",
            "example": "Contact",
            "maxLength": 64
          },
          "traitName": {
            "type": "string",
            "description": "The name of the trait in the trait group",
            "example": "firstName",
            "maxLength": 64
          }
        },
        "maxProperties": 3
      },
      "CommunicationLifecycleEvent": {
        "type": "object",
        "description": "A communication lifecycle event associated with a profile.",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The time the event occurred in ISO8601 format with millisecond resolution. Defaults to received time if not provided.",
            "example": "2025-01-01T12:00:00.000Z"
          },
          "lifecycle": {
            "type": "string",
            "maxLength": 50,
            "description": "The lifecycle event type of the communication.",
            "example": "COMMUNICATION_SENT"
          },
          "conversationId": {
            "type": "string",
            "pattern": "^conv_conversation_[0-7][0-9a-z]{25}$",
            "description": "The unique identifier for the conversation.",
            "example": "conv_conversation_00000000000000000000000000"
          },
          "communicationId": {
            "type": "string",
            "pattern": "^comms_communication_[0-7][0-9a-z]{25}$",
            "description": "The unique identifier for the communication.",
            "example": "comms_communication_00000000000000000000000000"
          },
          "communicationType": {
            "type": "string",
            "maxLength": 20,
            "description": "The communication channel type.",
            "example": "SMS"
          },
          "communicationStatus": {
            "type": "string",
            "maxLength": 20,
            "description": "The lifecycle status of the communication.",
            "example": "SENT"
          },
          "direction": {
            "type": "string",
            "enum": [
              "INBOUND",
              "OUTBOUND"
            ],
            "description": "The direction of the communication.",
            "example": "OUTBOUND"
          },
          "sender": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "maxLength": 320,
                "description": "The sender's address. Must be a valid address matching the channel type such as E.164 format for phone numbers.",
                "example": "+12345556789"
              },
              "participantId": {
                "type": "string",
                "description": "The unique identifier for the sender participant.",
                "pattern": "^comms_participant_[0-7][0-9a-z]{25}$",
                "example": "comms_participant_00000000000000000000000000"
              }
            },
            "required": [
              "address",
              "participantId"
            ]
          },
          "recipient": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "maxLength": 320,
                "description": "The recipient's address. Must be a valid address matching the channel type such as E.164 format for phone numbers.",
                "example": "+13175557890"
              },
              "participantId": {
                "type": "string",
                "description": "The unique identifier for the recipient participant.",
                "pattern": "^comms_participant_[0-7][0-9a-z]{25}$",
                "example": "comms_participant_00000000000000000000000000"
              }
            },
            "required": [
              "address",
              "participantId"
            ]
          },
          "errorCode": {
            "type": "string",
            "maxLength": 10,
            "description": "Error code for FAILED communication status.",
            "example": "30001"
          },
          "errorMessage": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message for FAILED communication status.",
            "example": "phone number is invalid"
          }
        },
        "required": [
          "timestamp",
          "communicationType",
          "conversationId",
          "lifecycle"
        ]
      },
      "ProfileEventRequest": {
        "type": "object",
        "description": "Request body for adding events to a specific profile. This request can contain multiple events.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "twilio-communication-event",
              "twilio-comms-lifecycle"
            ],
            "description": "The type of event being sent.",
            "example": "twilio-comms-lifecycle"
          },
          "events": {
            "type": "array",
            "maxItems": 1000,
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CommunicationLifecycleEvent"
                }
              ]
            }
          }
        },
        "required": [
          "type",
          "events"
        ]
      },
      "StoreBase": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Provides a unique and addressable name to be assigned to this Store. This name is assigned by the developer and can be used in addition to the ID. It is intended to be human-readable and unique within the account.",
            "pattern": "^[a-zA-Z0-9-]+$",
            "example": "sandbox"
          },
          "description": {
            "type": "string",
            "description": "A human readable description of this resource, up to 128 characters.",
            "minLength": 1,
            "maxLength": 128,
            "example": "A testing ground for development, training, and experimentation without affecting live user data"
          }
        },
        "required": [
          "displayName"
        ]
      },
      "ServiceRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Provides a unique and addressable name to be assigned to this Store. This name is assigned by the developer and can be used in addition to the ID. It is intended to be human-readable and unique within the account.",
            "pattern": "^[a-zA-Z0-9-]+$",
            "example": "sandbox"
          },
          "description": {
            "type": "string",
            "description": "A human readable description of this resource, up to 128 characters.",
            "minLength": 1,
            "maxLength": 128,
            "example": "A testing ground for development, training, and experimentation without affecting live user data"
          }
        },
        "required": [
          "displayName"
        ]
      },
      "Store": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Provides a unique and addressable name to be assigned to this Store. This name is assigned by the developer and can be used in addition to the ID. It is intended to be human-readable and unique within the account.",
            "pattern": "^[a-zA-Z0-9-]+$",
            "example": "sandbox"
          },
          "description": {
            "type": "string",
            "description": "A human readable description of this resource, up to 128 characters.",
            "minLength": 1,
            "maxLength": 128,
            "example": "A testing ground for development, training, and experimentation without affecting live user data"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the Memory Store",
            "pattern": "^mem_(store|service)_[0-7][0-9a-z]{25}$",
            "example": "mem_store_00000000000000000000000000"
          },
          "status": {
            "type": "string",
            "description": "The current status of the Memory Store.  A store begins in the QUEUED state as it is scheduled for processing.  It then moves to PROVISIONING at the beginning of processing. It transitions to ACTIVE once all dependent resources are provisioned, including Conversational Intelligence capabilities.  If there is an issue provisioning resources, the store will move to the FAILED state.",
            "enum": [
              "QUEUED",
              "PROVISIONING",
              "ACTIVE",
              "FAILED"
            ],
            "example": "ACTIVE"
          },
          "intelligenceServiceId": {
            "type": "string",
            "maxLength": 64,
            "description": "The ID of the associated intelligence service that was provisioned for memory extraction.",
            "example": "intelligence_service_00000000000000000000000000",
            "nullable": true
          },
          "version": {
            "type": "integer",
            "minimum": 1,
            "description": "The current version number of the Memory Store. Incremented on each successful update.",
            "example": 3
          }
        },
        "required": [
          "version",
          "id",
          "displayName",
          "intelligenceServiceId",
          "status"
        ]
      },
      "ServiceList": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "stores": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "type": "string",
              "pattern": "^mem_(store|service)_[0-7][0-9a-z]{25}$"
            },
            "description": "List of Memory Store IDs associated with the Twilio account.",
            "example": [
              "mem_store_0123456789abcdefghijklmnop",
              "mem_store_1123456789abcdefghijklmnop",
              "mem_store_2123456789abcdefghijklmnop",
              "mem_store_3123456789abcdefghijklmnop"
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "IdentityResolutionSettingsCore": {
        "type": "object",
        "description": "Identity Resolution settings help determine if a new profile should be created,\nor if the incoming conversation should be added to an existing profile. These\nsettings resolve how profiles are looked up and which profiles should merge together.",
        "properties": {
          "identifierConfigs": {
            "type": "array",
            "minItems": 1,
            "maxItems": 15,
            "description": "List of identifier types and their resolution settings.",
            "items": {
              "$ref": "#/components/schemas/IdentifierConfig"
            }
          },
          "matchingRules": {
            "type": "array",
            "minItems": 1,
            "maxItems": 15,
            "example": [
              "email",
              "whatsapp",
              "phone"
            ],
            "description": "Priority list of identifiers to locate profiles to apply new data to, or for \ndetermining if two existing profiles should merge. Rules are evaluated in order.\n- If no rule matches against existing profiles, a new profile will be created. \n- If a rule matches to a single existing profile, the profile will be updated. \n- If a rule matches to multiple existing profiles, those existing profiles will be merged.",
            "items": {
              "type": "string",
              "maxLength": 30,
              "description": "Name of the identifier type, compound identifiers are combined with `AND` such as \"phone AND lastName\"."
            }
          }
        }
      },
      "IdentityResolutionSettings": {
        "type": "object",
        "properties": {
          "identifierConfigs": {
            "type": "array",
            "minItems": 1,
            "maxItems": 15,
            "description": "List of identifier types and their resolution settings.",
            "items": {
              "$ref": "#/components/schemas/IdentifierConfig"
            }
          },
          "matchingRules": {
            "type": "array",
            "minItems": 1,
            "maxItems": 15,
            "example": [
              "email",
              "whatsapp",
              "phone"
            ],
            "description": "Priority list of identifiers to locate profiles to apply new data to, or for \ndetermining if two existing profiles should merge. Rules are evaluated in order.\n- If no rule matches against existing profiles, a new profile will be created. \n- If a rule matches to a single existing profile, the profile will be updated. \n- If a rule matches to multiple existing profiles, those existing profiles will be merged.",
            "items": {
              "type": "string",
              "maxLength": 30,
              "description": "Name of the identifier type, compound identifiers are combined with `AND` such as \"phone AND lastName\"."
            }
          },
          "version": {
            "type": "integer",
            "minimum": 1,
            "description": "The current version number of the Identity Resolution Settings. Incremented on each successful update.",
            "example": 3
          }
        },
        "required": [
          "version"
        ]
      },
      "IdentifierConfig": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "idType"
        ],
        "properties": {
          "idType": {
            "type": "string",
            "description": "Name of the identifier type. Usual values are email, phone, external_id etc.",
            "example": "email",
            "minLength": 2,
            "maxLength": 30
          },
          "matchingAlgo": {
            "type": "string",
            "description": "The algorithm to use for matching identifier values. \n  - `exact`, exact string match.\n  - `fuzzy`, low precision match allowing for some variations.",
            "enum": [
              "exact",
              "fuzzy"
            ],
            "default": "exact"
          },
          "matchingThreshold": {
            "type": "integer",
            "description": "The `fuzzy` matching threshold percentage.",
            "minimum": 50,
            "maximum": 99,
            "default": 75
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of historical values to retain.",
            "minimum": 1,
            "maximum": 100,
            "default": 100
          },
          "limitPolicy": {
            "type": "string",
            "enum": [
              "fifo",
              "lifo"
            ],
            "description": "Removal policy to apply when the number of values exceeds the limit and\nis based on the timestamp of the request when the identifier was added.\n- `fifo`: First In First Out, removes the oldest values first.\n- `lifo`: Last In First Out, removes the most recent values first.",
            "default": "fifo",
            "example": "fifo"
          },
          "enforceUnique": {
            "type": "boolean",
            "description": "When enabled, more than one profile may not share the same identifier value.\nAdding a shared identifier to a second profile may trigger a merge.\nDisabling creates a compound identifier where merges are only triggered if\ntwo or more identifiers satisfy a matching rule.",
            "default": true,
            "example": true
          },
          "normalization": {
            "type": "string",
            "enum": [
              "phone",
              "email",
              "trim",
              "none"
            ],
            "description": "Normalization to apply to the identifier value before storing and matching.\n- `phone`: Normalize phone numbers to E.164 format.\n- `email`: Normalize email addresses by coverting to lowercase and removing spaces.\n- `trim`: Removes spaces from both ends of the string.\n- `none`: No normalization.\n\n**Important Note for Phone Number Normalization:**\nWhen using the `phone` normalization option, please adhere to the following guidelines to ensure proper formatting:\n- All US numbers must be at least valid 10 digit phone numbers with area code. They may also include or omit the \"+1\" prefix.\n- Non-US numbers must include a 1-3 digit country code (a \"+\" prefix is optional). Non-US national formats are not supported and will be interpreted as US numbers.",
            "default": "trim",
            "example": "email"
          }
        }
      },
      "TraitGroupCore": {
        "type": "object",
        "description": "A Trait Group is a collection of related traits. \nTraits are lasting facts about a customer such as their name, location, or preferences.",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Provides a unique and addressable name to be assigned to this Trait Group",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$",
            "example": "Contact"
          },
          "description": {
            "type": "string",
            "maxLength": 1024,
            "description": "description of the Trait Group",
            "example": "This Trait Group contains traits related to contact information."
          },
          "traits": {
            "type": "object",
            "description": "Map of traits that are part of this Trait Group, where the key is the trait name and the value is the trait's definition.",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "description": "A Trait is a single attribute or characteristic of a profile, such as age, location, or preferences.",
              "properties": {
                "dataType": {
                  "type": "string",
                  "description": "Data type of the Trait, such as STRING, NUMBER, BOOLEAN, ARRAY.\nFor DELETE operations in PATCH requests, set this to an empty string (\"\") to mark the trait for deletion.",
                  "example": "STRING",
                  "enum": [
                    "STRING",
                    "NUMBER",
                    "BOOLEAN",
                    "ARRAY",
                    ""
                  ]
                },
                "description": {
                  "type": "string",
                  "maxLength": 1024,
                  "description": "Description of the Trait, providing additional context or information.",
                  "example": "The user's primary email address"
                },
                "validationRule": {
                  "$ref": "#/components/schemas/ValidationRule"
                },
                "idTypePromotion": {
                  "type": "string",
                  "maxLength": 30,
                  "description": "The name of the identifier type to promote the trait value to, such as ''email'', ''phone'', ''user_id'',\netc. This allows the trait to be mapped to an identifier in Identity Resolution. The identifier type should be\nconfigured in the Identity Resolution Settings.",
                  "example": "email"
                }
              },
              "required": [
                "dataType"
              ]
            },
            "maxProperties": 95,
            "example": {
              "email": {
                "dataType": "STRING",
                "description": "User's email address"
              },
              "dob": {
                "dataType": "STRING",
                "description": "User's date of birth"
              }
            }
          }
        },
        "required": [
          "displayName"
        ]
      },
      "TraitGroup": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Provides a unique and addressable name to be assigned to this Trait Group",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$",
            "example": "Contact"
          },
          "description": {
            "type": "string",
            "maxLength": 1024,
            "description": "description of the Trait Group",
            "example": "This Trait Group contains traits related to contact information."
          },
          "traits": {
            "type": "object",
            "description": "Map of traits that are part of this Trait Group, where the key is the trait name and the value is the trait's definition.",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "description": "A Trait is a single attribute or characteristic of a profile, such as age, location, or preferences.",
              "properties": {
                "dataType": {
                  "type": "string",
                  "description": "Data type of the Trait, such as STRING, NUMBER, BOOLEAN, ARRAY.\nFor DELETE operations in PATCH requests, set this to an empty string (\"\") to mark the trait for deletion.",
                  "example": "STRING",
                  "enum": [
                    "STRING",
                    "NUMBER",
                    "BOOLEAN",
                    "ARRAY",
                    ""
                  ]
                },
                "description": {
                  "type": "string",
                  "maxLength": 1024,
                  "description": "Description of the Trait, providing additional context or information.",
                  "example": "The user's primary email address"
                },
                "validationRule": {
                  "$ref": "#/components/schemas/ValidationRule"
                },
                "idTypePromotion": {
                  "type": "string",
                  "maxLength": 30,
                  "description": "The name of the identifier type to promote the trait value to, such as ''email'', ''phone'', ''user_id'',\netc. This allows the trait to be mapped to an identifier in Identity Resolution. The identifier type should be\nconfigured in the Identity Resolution Settings.",
                  "example": "email"
                }
              },
              "required": [
                "dataType"
              ]
            },
            "maxProperties": 95,
            "example": {
              "email": {
                "dataType": "STRING",
                "description": "User's email address"
              },
              "dob": {
                "dataType": "STRING",
                "description": "User's date of birth"
              }
            }
          },
          "version": {
            "type": "integer",
            "minimum": 1,
            "description": "The current version number of the Trait Group. Incremented on each successful update.",
            "example": 3
          }
        },
        "required": [
          "displayName",
          "version"
        ]
      },
      "TraitGroupRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Payload schema for creating Trait Groups.",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Unique name of the Trait Group",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$",
            "example": "Contact"
          },
          "description": {
            "type": "string",
            "maxLength": 1024,
            "description": "description of the Trait Group",
            "example": "This Trait Group contains traits related to contact information."
          },
          "traits": {
            "type": "object",
            "description": "Map of traits belonging to this Trait Group, keyed by trait name.",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "description": "A Trait is a single attribute or characteristic of a profile, such as age, location, or preferences.",
              "properties": {
                "dataType": {
                  "type": "string",
                  "description": "Data type of the Trait, such as STRING, NUMBER, BOOLEAN, ARRAY.\nFor DELETE operations in PATCH requests, set this to an empty string (\"\") to mark the trait for deletion.",
                  "example": "STRING",
                  "enum": [
                    "STRING",
                    "NUMBER",
                    "BOOLEAN",
                    "ARRAY",
                    ""
                  ]
                },
                "description": {
                  "type": "string",
                  "maxLength": 1024,
                  "description": "Description of the Trait, providing additional context or information.",
                  "example": "The user's primary email address"
                },
                "validationRule": {
                  "$ref": "#/components/schemas/ValidationRule"
                },
                "idTypePromotion": {
                  "type": "string",
                  "maxLength": 30,
                  "description": "The name of the identifier type to promote the trait value to, such as ''email'', ''phone'', ''user_id'',\netc. This allows the trait to be mapped to an identifier in Identity Resolution. The identifier type should be\nconfigured in the Identity Resolution Settings.",
                  "example": "email"
                }
              },
              "required": [
                "dataType"
              ]
            },
            "maxProperties": 95,
            "example": {
              "email": {
                "dataType": "STRING",
                "description": "User's email address"
              },
              "dob": {
                "dataType": "STRING",
                "description": "User's date of birth"
              }
            }
          }
        },
        "required": [
          "displayName"
        ]
      },
      "TraitDefinition": {
        "type": "object",
        "additionalProperties": false,
        "description": "A Trait is a single attribute or characteristic of a profile, such as age, location, or preferences.",
        "properties": {
          "dataType": {
            "type": "string",
            "description": "Data type of the Trait, such as STRING, NUMBER, BOOLEAN, ARRAY.\nFor DELETE operations in PATCH requests, set this to an empty string (\"\") to mark the trait for deletion.",
            "example": "STRING",
            "enum": [
              "STRING",
              "NUMBER",
              "BOOLEAN",
              "ARRAY",
              ""
            ]
          },
          "description": {
            "type": "string",
            "maxLength": 1024,
            "description": "Description of the Trait, providing additional context or information.",
            "example": "The user's primary email address"
          },
          "idTypePromotion": {
            "type": "string",
            "maxLength": 30,
            "description": "The name of the identifier type to promote the trait value to, such as ''email'', ''phone'', ''user_id'',\netc. This allows the trait to be mapped to an identifier in Identity Resolution. The identifier type should be\nconfigured in the Identity Resolution Settings.",
            "example": "email"
          }
        },
        "required": [
          "dataType"
        ]
      },
      "ValidationRule": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/StringValidationRule"
          },
          {
            "$ref": "#/components/schemas/NumberValidationRule"
          },
          {
            "$ref": "#/components/schemas/BooleanValidationRule"
          },
          {
            "$ref": "#/components/schemas/ArrayValidationRule"
          }
        ],
        "discriminator": {
          "propertyName": "ruleType",
          "mapping": {
            "STRING": "#/components/schemas/StringValidationRule",
            "NUMBER": "#/components/schemas/NumberValidationRule",
            "BOOLEAN": "#/components/schemas/BooleanValidationRule",
            "ARRAY": "#/components/schemas/ArrayValidationRule"
          }
        }
      },
      "StringValidationRule": {
        "type": "object",
        "description": "Validation for string dataType.",
        "properties": {
          "pattern": {
            "type": "string",
            "description": "Regex pattern (max 1000 chars)",
            "maxLength": 1000
          },
          "minLength": {
            "type": "integer",
            "description": "Minimum string length",
            "minimum": 0
          },
          "maxLength": {
            "type": "integer",
            "description": "Maximum string length",
            "minimum": 1
          },
          "ruleType": {
            "type": "string",
            "description": "Discriminator field indicating this is a string validation rule.",
            "enum": [
              "STRING"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "ruleType"
        ]
      },
      "NumberValidationRule": {
        "type": "object",
        "description": "Validation for number dataType.",
        "properties": {
          "min": {
            "type": "number",
            "description": "Minimum value"
          },
          "max": {
            "type": "number",
            "description": "Maximum value"
          },
          "ruleType": {
            "type": "string",
            "description": "Discriminator field indicating this is a number validation rule.",
            "enum": [
              "NUMBER"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "ruleType"
        ]
      },
      "BooleanValidationRule": {
        "type": "object",
        "description": "Validation for boolean dataType (no extra properties)",
        "additionalProperties": false,
        "properties": {
          "ruleType": {
            "type": "string",
            "description": "Discriminator field indicating this is a boolean validation rule.",
            "enum": [
              "BOOLEAN"
            ]
          }
        },
        "required": [
          "ruleType"
        ]
      },
      "ArrayValidationRule": {
        "type": "object",
        "description": "Validation for array dataType.",
        "properties": {
          "minItems": {
            "type": "integer",
            "description": "Minimum number of items",
            "minimum": 0
          },
          "maxItems": {
            "type": "integer",
            "description": "Maximum number of items",
            "minimum": 0
          },
          "ruleType": {
            "type": "string",
            "description": "Discriminator field indicating this is an array validation rule.",
            "enum": [
              "ARRAY"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "ruleType"
        ]
      },
      "Meta": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "key": {
            "type": "string",
            "nullable": false,
            "maxLength": 64,
            "description": "The key of the list property contains the actual data items.\nThis enables programmatic iteration over paginated results.\n"
          },
          "pageSize": {
            "type": "integer",
            "default": 50
          },
          "nextToken": {
            "type": "string",
            "maxLength": 4096,
            "example": "eyJlYXN0ZXIiOiJlZ2cifQ"
          },
          "previousToken": {
            "type": "string",
            "maxLength": 4096,
            "example": "eyJlYXN0ZXIiOiJlZ2cifQ"
          }
        }
      },
      "DataMappingType": {
        "type": "string",
        "description": "The type of data mapping defining how data flows into the Memory Store.",
        "enum": [
          "DATASET"
        ],
        "default": "DATASET",
        "example": "DATASET"
      },
      "DataMappingFromTypes": {
        "type": "object",
        "description": "Details of where to map data items from. Each data mapping from type has its own set of configuration\nparameters and source specific properties.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/DataMappingFromDataSet"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "DATASET": "#/components/schemas/DataMappingFromDataSet"
          }
        },
        "example": {
          "type": "DATASET",
          "datasetId": "tdi_dataset_00000000000000000000000000"
        }
      },
      "DataMappingFromDataSet": {
        "type": "object",
        "additionalProperties": false,
        "description": "Configuration for mapping from a TDI dataset.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The source data type, which determines the source of the data and the required configuration parameters.",
            "enum": [
              "DATASET"
            ],
            "default": "DATASET",
            "example": "DATASET"
          },
          "datasetId": {
            "type": "string",
            "description": "The unique identifier of the TDI dataset to connect.",
            "pattern": "^tdi_dataset_[0-7][0-9a-z]{25}$",
            "example": "tdi_dataset_00000000000000000000000000"
          }
        },
        "required": [
          "type",
          "datasetId"
        ]
      },
      "DataMappingToTypes": {
        "type": "object",
        "description": "Details of where to map data items to. Each data mapping to type has its own set of configuration\nparameters and destination specific properties.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/DataMappingToTraits"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "TRAITS": "#/components/schemas/DataMappingToTraits"
          }
        },
        "example": {
          "type": "TRAITS",
          "mappings": [
            {
              "fieldName": "primary_email",
              "traitGroup": "Contact",
              "traitName": "email"
            }
          ]
        }
      },
      "DataMappingToTraits": {
        "type": "object",
        "additionalProperties": false,
        "description": "Configuration for mapping data to traits in a Memory Store.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The destination data type, which determines where to write the data and the required configuration parameters.",
            "enum": [
              "TRAITS"
            ],
            "default": "TRAITS",
            "example": "TRAITS"
          },
          "mappings": {
            "type": "array",
            "description": "The list of field to trait mappings.",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/MappingTraitItem"
            }
          }
        },
        "required": [
          "type",
          "mappings"
        ]
      },
      "MappingTraitItem": {
        "type": "object",
        "additionalProperties": false,
        "description": "Maps a field from a source to a Trait in the Memory Store.",
        "properties": {
          "fieldName": {
            "type": "string",
            "description": "The name of the field/column in the source. Deprecated in favor of expression.",
            "deprecated": true,
            "minLength": 1,
            "maxLength": 64,
            "example": "primary_email"
          },
          "expression": {
            "type": "string",
            "description": "The expression identifying the field/column in the source.",
            "minLength": 1,
            "maxLength": 256,
            "example": "primary_email"
          },
          "traitGroup": {
            "type": "string",
            "description": "The name of the Trait Group to map to.",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$",
            "example": "Contact"
          },
          "traitName": {
            "type": "string",
            "description": "The name of the trait within the Trait Group to map to.",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-z][a-zA-Z0-9_\\-\\.]*$",
            "example": "email"
          }
        },
        "required": [
          "fieldName",
          "traitGroup",
          "traitName"
        ]
      },
      "DataMappingName": {
        "type": "string",
        "description": "Name of the data mapping.",
        "pattern": "^[a-zA-Z][a-zA-Z0-9-_.]*$",
        "minLength": 1,
        "maxLength": 128,
        "example": "crm-contacts"
      },
      "DataMappingCore": {
        "type": "object",
        "description": "Writable fields of a data mapping. Used directly as the PATCH request body\n(all fields optional). Composed into CreateDataMappingInput via allOf.",
        "properties": {
          "displayName": {
            "$ref": "#/components/schemas/DataMappingName"
          },
          "description": {
            "type": "string",
            "description": "A human readable description of this resource, up to 512 characters.",
            "minLength": 1,
            "maxLength": 512,
            "example": "Syncs customer data from CRM dataset to profile traits"
          },
          "isEnabled": {
            "type": "boolean",
            "description": "Flag indicating whether the data mapping is active. When true, data will be\ningested and mapped according to the configuration. When false, the data mapping\nwill be inactive and no data will be ingested into the Memory Store.",
            "default": true,
            "example": true
          },
          "mappingTo": {
            "$ref": "#/components/schemas/DataMappingToTypes"
          }
        }
      },
      "CreateDataMappingInput": {
        "type": "object",
        "description": "A data mapping connects external data sources to a Memory Store, enabling automatic\ningestion and mapping of data to profile traits.",
        "properties": {
          "displayName": {
            "$ref": "#/components/schemas/DataMappingName"
          },
          "description": {
            "type": "string",
            "description": "A human readable description of this resource, up to 512 characters.",
            "minLength": 1,
            "maxLength": 512,
            "example": "Syncs customer data from CRM dataset to profile traits"
          },
          "isEnabled": {
            "type": "boolean",
            "description": "Flag indicating whether the data mapping is active. When true, data will be\ningested and mapped according to the configuration. When false, the data mapping\nwill be inactive and no data will be ingested into the Memory Store.",
            "default": true,
            "example": true
          },
          "mappingTo": {
            "$ref": "#/components/schemas/DataMappingToTypes"
          },
          "mappingFrom": {
            "$ref": "#/components/schemas/DataMappingFromTypes"
          }
        },
        "required": [
          "displayName",
          "mappingFrom",
          "mappingTo"
        ]
      },
      "DataMapping": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "displayName": {
            "$ref": "#/components/schemas/DataMappingName"
          },
          "description": {
            "type": "string",
            "description": "A human readable description of this resource, up to 512 characters.",
            "minLength": 1,
            "maxLength": 512,
            "example": "Syncs customer data from CRM dataset to profile traits"
          },
          "isEnabled": {
            "type": "boolean",
            "description": "Flag indicating whether the data mapping is active. When true, data will be\ningested and mapped according to the configuration. When false, the data mapping\nwill be inactive and no data will be ingested into the Memory Store.",
            "default": true,
            "example": true
          },
          "mappingTo": {
            "$ref": "#/components/schemas/DataMappingToTypes"
          },
          "mappingFrom": {
            "$ref": "#/components/schemas/DataMappingFromTypes"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the data mapping.",
            "pattern": "^mem_datamapping_[0-7][0-9a-z]{25}$",
            "example": "mem_datamapping_00000000000000000000000000"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO 8601 timestamp when the  data mapping was created.",
            "example": "2026-01-15T10:30:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO 8601 timestamp when the data mapping was last updated.",
            "example": "2026-01-15T11:45:00Z"
          },
          "version": {
            "type": "integer",
            "minimum": 1,
            "description": "The current version number of the DataMapping. Incremented on each successful update.",
            "example": 3
          }
        },
        "required": [
          "mappingFrom",
          "version",
          "id",
          "createdAt",
          "displayName",
          "mappingTo",
          "updatedAt"
        ]
      },
      "DataMappingList": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "dataMappings": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/DataMapping"
            },
            "description": "List of DataMappings associated with the Memory Store."
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "RecallObservationInfo": {
        "type": "object",
        "description": "A transient and mutable observation memory associated with a profile.",
        "properties": {
          "content": {
            "type": "string",
            "description": "The main content of the observation.",
            "minLength": 1,
            "maxLength": 4096,
            "example": "Customer expressed satisfaction with recent product update during support call."
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the observation originally occurred.",
            "example": "2025-01-15T10:15:30Z"
          },
          "source": {
            "type": "string",
            "description": "The source system that generated this observation. Allows letters, numbers, spaces, and URL-safe symbols. Excludes URL-unsafe characters like quotes, angle brackets, and control characters.",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9 _.-]+$",
            "example": "conversational-intelligence"
          },
          "conversationIds": {
            "type": "array",
            "description": "Array of conversation IDs associated with this observation.",
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/ConversationID"
            }
          },
          "id": {
            "$ref": "#/components/schemas/ObservationID"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the observation was created.",
            "example": "2025-01-15T10:30:45Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the observation was last updated.",
            "example": "2025-01-15T10:30:45Z"
          },
          "score": {
            "type": "number",
            "format": "double",
            "description": "The relevance score of the observation in relation to the query. Higher values indicate greater relevance. This field is omitted when results are returned in most-recent order. This may occur when no query is provided and one cannot be inferred from the conversation context, or when the system defaults to chronological retrieval to ensure high availability.",
            "minimum": 0,
            "maximum": 1,
            "example": 0.82
          }
        },
        "required": [
          "content",
          "id",
          "createdAt",
          "source",
          "occurredAt",
          "updatedAt"
        ]
      },
      "RecallSummaryInfo": {
        "type": "object",
        "description": "A summary memory derived from conversations.",
        "properties": {
          "source": {
            "type": "string",
            "description": "The source system that generated the summary. Allows letters, numbers, spaces, and URL-safe symbols. Excludes URL-unsafe characters like quotes, angle brackets, and control characters.",
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9 _.-]+$",
            "example": "conversations"
          },
          "content": {
            "type": "string",
            "description": "The main content of the summary.",
            "minLength": 1,
            "maxLength": 4096,
            "example": "Customer discussed billing concerns and was satisfied with the resolution provided during this conversation."
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the summary was originally created.",
            "example": "2025-01-15T10:15:30Z"
          },
          "conversationId": {
            "$ref": "#/components/schemas/ConversationID"
          },
          "id": {
            "$ref": "#/components/schemas/SummaryID"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the summary was created.",
            "example": "2025-01-15T10:30:45Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the summary was last updated.",
            "example": "2025-01-15T10:30:45Z"
          },
          "score": {
            "type": "number",
            "format": "double",
            "description": "The relevance score of the summary in relation to the query. Higher values indicate greater relevance. This field is omitted when results are returned in most-recent order. This may occur when no query is provided and one cannot be inferred from the conversation context, or when the system defaults to chronological retrieval to ensure high availability.",
            "minimum": 0,
            "maximum": 1,
            "example": 0.78
          }
        },
        "required": [
          "content",
          "id",
          "conversationId",
          "createdAt",
          "occurredAt",
          "updatedAt"
        ]
      },
      "SummaryCorePatch": {
        "type": "object",
        "description": "Core mutable properties for updating summary objects. All fields are optional for PATCH operations.",
        "properties": {
          "source": {
            "type": "string",
            "description": "The source system that generated the summary. Allows letters, numbers, spaces, and URL-safe symbols. Excludes URL-unsafe characters like quotes, angle brackets, and control characters.",
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9 _.-]+$",
            "example": "conversations"
          },
          "content": {
            "type": "string",
            "description": "The main content of the summary.",
            "minLength": 1,
            "maxLength": 4096,
            "example": "Customer discussed billing concerns and was satisfied with the resolution provided during this conversation."
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the summary was originally created. If not provided, defaults to the time the summary was received.",
            "example": "2025-01-15T10:15:30Z"
          },
          "conversationId": {
            "$ref": "#/components/schemas/ConversationID"
          }
        }
      },
      "OperationStatus": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "operationId",
          "status",
          "createdAt"
        ],
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for this operation.",
            "maxLength": 512
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "enum": [
              "PENDING",
              "RUNNING",
              "CANCELLED",
              "COMPLETED",
              "FAILED"
            ],
            "example": "COMPLETED"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the operation was created.",
            "example": "2025-11-14T20:29:21Z"
          },
          "statusUrl": {
            "type": "string",
            "format": "uri",
            "description": "URI to check operation status."
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the operation completed or failed."
          },
          "result": {
            "$ref": "#/components/schemas/OperationResult"
          },
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "format": "uri",
                "description": "A URI reference identifying the problem type."
              },
              "title": {
                "type": "string",
                "maxLength": 128,
                "description": "A short, human-readable summary of the problem type."
              },
              "code": {
                "type": "integer",
                "description": "The numeric Twilio error code."
              },
              "detail": {
                "type": "string",
                "maxLength": 1024,
                "description": "A human-readable explanation specific to this occurrence of the problem."
              }
            }
          },
          "resultUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to fetch the resulting resource."
          }
        }
      },
      "OperationResult": {
        "description": "Operation-specific output. Present when status is COMPLETED.",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "RESOURCE_ID": "#/components/schemas/OperationResultResourceId"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/OperationResultResourceId"
          }
        ]
      },
      "OperationResultResourceId": {
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "RESOURCE_ID"
            ]
          },
          "id": {
            "type": "string",
            "maxLength": 128,
            "description": "The identifier of the created or affected resource."
          }
        }
      }
    },
    "parameters": {
      "PageSize": {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "description": "The maximum number of items to return per page, maximum of 1000.",
        "schema": {
          "type": "integer",
          "default": 50,
          "minimum": 1,
          "maximum": 1000
        }
      },
      "PageToken": {
        "name": "pageToken",
        "in": "query",
        "required": false,
        "description": "The token for the page of results to retrieve.",
        "schema": {
          "type": "string",
          "maxLength": 500
        }
      },
      "ImportId": {
        "name": "importId",
        "in": "path",
        "description": "The task identifier for the import process.",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^mem_import_[0-7][0-9a-z]{25}$"
        }
      },
      "StoreId": {
        "name": "storeId",
        "in": "path",
        "required": true,
        "description": "A unique Memory Store ID using Twilio Type ID (TTID) format",
        "schema": {
          "type": "string",
          "pattern": "^mem_(store|service)_[0-7][0-9a-z]{25}$",
          "example": "mem_store_00000000000000000000000000"
        }
      },
      "ProfileId": {
        "name": "profileId",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the profile using Twilio Type ID (TTID) format.",
        "schema": {
          "type": "string",
          "pattern": "^mem_profile_[0-7][0-9a-z]{25}$",
          "example": "mem_profile_00000000000000000000000000"
        }
      },
      "IdentifierType": {
        "name": "idType",
        "in": "path",
        "required": true,
        "description": "Identifier type configured for the service (for example `email`, `phone`, or `externalId`).",
        "schema": {
          "type": "string",
          "minLength": 2,
          "maxLength": 30,
          "example": "email"
        }
      },
      "AcceptEncoding": {
        "name": "Accept-Encoding",
        "in": "header",
        "required": false,
        "description": "Compression algorithms supported by the client (e.g., gzip, deflate, br)",
        "schema": {
          "type": "string",
          "maxLength": 200,
          "pattern": "^[a-zA-Z0-9, .-]*$",
          "example": "gzip, deflate, br"
        }
      },
      "ContentEncoding": {
        "name": "Content-Encoding",
        "in": "header",
        "required": false,
        "description": "Compression algorithm used for the request body (e.g., gzip, deflate, br)",
        "schema": {
          "type": "string",
          "enum": [
            "gzip",
            "deflate",
            "br",
            "compress"
          ],
          "example": "gzip"
        }
      },
      "ObservationId": {
        "name": "observationId",
        "in": "path",
        "description": "The observation ID.",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/ObservationID"
        }
      },
      "SummaryId": {
        "name": "summaryId",
        "in": "path",
        "description": "The summary ID.",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/SummaryID"
        }
      },
      "SourceParam": {
        "name": "source",
        "in": "query",
        "required": false,
        "description": "Filter by source. Allows letters, numbers, spaces, and URL-safe symbols. Excludes URL-unsafe characters like quotes, angle brackets, and control characters.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100,
          "pattern": "^[a-zA-Z0-9 _.-]+$",
          "example": "customer service platform"
        }
      },
      "CreatedAfter": {
        "name": "createdAfter",
        "in": "query",
        "description": "Filter observations created after this timestamp (inclusive).",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time",
          "example": "2025-01-01T00:00:00Z"
        }
      },
      "CreatedBefore": {
        "name": "createdBefore",
        "in": "query",
        "description": "Filter observations created before this timestamp (exclusive).",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time",
          "example": "2025-01-31T23:59:59Z"
        }
      },
      "OrderBy": {
        "name": "orderBy",
        "in": "query",
        "required": false,
        "description": "Either 'ASC' or 'DESC' to sort results ascending or descending respectively.",
        "schema": {
          "type": "string",
          "enum": [
            "ASC",
            "DESC"
          ],
          "default": "DESC"
        }
      },
      "TraitGroupsQueryParam": {
        "name": "traitGroups",
        "in": "query",
        "required": false,
        "description": "Comma separated list of trait group names to include.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256,
          "example": "Contact"
        }
      },
      "ControlPlanePageSize": {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "description": "The maximum number of items to return per page, maximum of 100.",
        "schema": {
          "type": "integer",
          "default": 50,
          "minimum": 1,
          "maximum": 100
        }
      },
      "IfMatchHeader": {
        "in": "header",
        "name": "If-Match",
        "description": "Allows for optimistic concurrency control by making the request conditional.\nServer will only act if the resource's current Entity Tag (ETag) matches\nthe one provided, preventing accidental overwrites.",
        "schema": {
          "type": "string",
          "maxLength": 100,
          "example": "\"eyJpZCI6ImFuX2lkIiwidiI6MX0\""
        }
      },
      "traitGroupName": {
        "name": "traitGroupName",
        "in": "path",
        "required": true,
        "description": "A unique Name of the TraitGroup",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 64,
          "example": "Contact"
        }
      },
      "DataMappingId": {
        "name": "dataMappingId",
        "in": "path",
        "required": true,
        "description": "A unique DataMapping ID using Twilio Type ID (TTID) format",
        "schema": {
          "type": "string",
          "pattern": "^mem_datamapping_[0-7][0-9a-z]{25}$",
          "example": "mem_datamapping_00000000000000000000000000"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioError"
            },
            "example": {
              "code": 400,
              "message": "Failed to complete request due to a bad request",
              "more_info": "https://www.twilio.com/docs/api/errors/400",
              "status": 400
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioError"
            },
            "example": {
              "code": 20404,
              "message": "Not Found",
              "more_info": "https://www.twilio.com/docs/api/errors/20404",
              "status": 404
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "This error indicates that you have sent too many requests to the API. You should retry according to the `Retry-After` response header.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioError"
            },
            "example": {
              "code": 20429,
              "message": "Too many requests. Please retry according to the Retry-After response header.",
              "more_info": "https://www.twilio.com/docs/api/errors/20429",
              "status": 429
            }
          }
        },
        "headers": {
          "Retry-After": {
            "description": "The amount of time in seconds that the customer should wait before issuing a new request towards the API.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioError"
            },
            "example": {
              "code": 20500,
              "message": "Internal Server Error",
              "more_info": "https://www.twilio.com/docs/api/errors/20500",
              "status": 500
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioError"
            },
            "example": {
              "code": 20503,
              "message": "Service Unavailable",
              "more_info": "https://www.twilio.com/docs/api/errors/20503",
              "status": 503
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioError"
            },
            "example": {
              "code": 20003,
              "message": "Failed to complete request due to lack of authentication credentials",
              "more_info": "https://www.twilio.com/docs/api/errors/20003",
              "status": 401
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioError"
            },
            "example": {
              "code": 403,
              "message": "Permission to access resource denied",
              "more_info": "https://www.twilio.com/docs/api/errors/403",
              "status": 403
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TwilioError"
            },
            "example": {
              "code": 20409,
              "message": "Conflict",
              "more_info": "https://www.twilio.com/docs/api/errors/20409",
              "status": 409
            }
          }
        }
      },
      "MovedPermanently": {
        "description": "This resource has moved.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "message",
                "uri"
              ],
              "properties": {
                "message": {
                  "type": "string",
                  "default": "This resource has moved.",
                  "example": "This resource has moved.",
                  "maxLength": 255
                },
                "uri": {
                  "type": "string",
                  "example": "https://memory.twilio.com/v1/Stores/mem_store_00000000000000000000000000/Profiles/mem_profile_00000000000000000000000000",
                  "maxLength": 2048
                }
              },
              "maxProperties": 2
            }
          }
        },
        "headers": {
          "Canonical-Profile-Id": {
            "$ref": "#/components/headers/Canonical-Profile-Id"
          },
          "Location": {
            "$ref": "#/components/headers/Location"
          }
        }
      },
      "PermanentRedirect": {
        "description": "This resource has moved.",
        "content": {
          "application/json": {
            "schema": {
[...]
