*-debug.log
*-error.log
/.nyc_output
/dist
/tmp
/yarn.lock
package-lock.json
node_modules
coverage
*.glksave
twilio-cli-*.tgz
.DS_Store
*.env
.env

### Backup package.json files created during release ###
*.bak

.idea
