language: node_js
node_js:
  # Disabling for Node 16 until audit issue is resolved: https://travis-ci.com/github/twilio/twilio-cli-core/jobs/512495850
  # - node
  - lts/*
  - '10'
before_install:
- sudo apt-get update
- sudo apt-get install -y libsecret-1-dev
before_script:
  if: npm audit --audit-level=moderate != 0
  cache:
    npm: false
script:
- npm run test
- sonar-scanner
deploy:
  provider: npm
  email: team_interfaces@twilio.com
  api_key: "$NPM_TOKEN"
  skip_cleanup: true
  edge: true
  on:
    tags: true
    condition: "$TRAVIS_TAG =~ ^[[:digit:]]+\\.[[:digit:]]+\\.[[:digit:]]+$"
    node: lts/*
notifications:
  slack:
    if: branch = main
    on_pull_requests: false
    on_success: never
    on_failure: change
    rooms:
      secure: co5l1LIDXNac0VVXrOaOvpqjqkVraMDCW5uErSQ9W3KUSjyRf88sukrRL83xIFMu0U4+W6bj8aHU7DCaE9M1yyndv/GFjr7oAYMdc2VbcHCCMGGBZp3SAo/OgIqoS+GZJMaN2D0Hy9PtkMuzXiZ374WIraj6XJQjCb289WUZZUJJ9f7xEh9ewrIsNXAorfLlNxoxXZbMAmq51j85yen+y0uOKJyV9IlRdp+XGSGPZEFYTDkJgqf0Adah+RfCfaSOzpDWneqLdiXNun6d9yn+0Ok9d9odsg9lFMYyfC2s58R5evxQJrW6lXmV+wwXNZJRxVX3dhwRm1LmKlXs/fmmhL03tWWNCx9+brzq/KniuXhduQOlO181C3HY76LOLJvhig/UYzOTNccxVVVkFTnL4nTqxOO9tQl9FOj0x8X+8BPit9cVgkzXlmD0delDANE7rX0b8kkSzhL+MH5MX85k+3KBlVnTsfDRu+9iPaCt/+GSzFN2u4pIggRVFeea0hnljCIL3U1ZxNJdWDjfQzWuqE5jUELshmftr32Ty5cbn7pfrFfYQ+4kVeAMjweoT5+OcqAYihaD811ItzPO6eApaTZM6x6ZEbtLuvYAI+2AbOnEBqgfMcbzgZFIvhrnzF5ZdmKWe+8+2oENROuS1xkRHSrMr5ipahdSage19zNnO0s=
addons:
  sonarcloud:
    organization: twilio
    token:
      secure: sZMHs72IAGEQv3vSLTFUc2kcrp3lPvt7xi4q2waEcgTJzcIud+qjWcM76Q98sWlGaIJ430pgC/n9C8uW+Pjc3Lk5g/owJL5h/6EIvqau3y0/B0oH1e6QRtqfro7gjd2lMXwDK2eq8L5Z81eLGKSnYDcE8KtH35Ze+28WRAaN2Su/XETPYZBnR6edJdcAXLy0oYlP0awxxvy+/Cj91qPa8dGzTBSepoSZsH04t3ORsKriCDYH1GcWDmpOHj2ES/1AP9MWJGT7UrmKnSz+E32tlp5R0gcIavAW2VjhMMJEJFIk+I16NvJdowi1yzNeRe4DctYE1GDRCHccxCDsaYzN3tqqlLKyf/zLucLBgrBfQSNEqEmy30sdBaz5MItmYgdPc4GVsnG4rJHn9IrHQMaB4JwU7dtdHaJOXnKBuBHjgK1a0JtGCd08l6h++mhZkzJS21wLbKTVjR8NjWWSJsvAsJBYy1syMNIgtT220mjV9Fk5QWprXqfmwfZMNNXwBxWt85hPYfG7xhe6K3mH4Hy8/snwEF3SpdST5RkFhsrVrBGInzR+Aw1lZWMUFI2ED/ScAQQ2SyKC4rbwfeeWcMzfuxfx58Aw+ByvLtdqW+bhGdVkGSAx1s2XypyZVHznTXUuEuFMeCQpPXtcnB2S5FQJ3kSb4siow8jNezoVAi9QbyA=
