language: node_js
node_js:
- node
- lts/*
- '10'
before_install:
- sudo apt-get update
- sudo apt-get install -y libsecret-1-dev
deploy:
  provider: npm
  email: team_interfaces@twilio.com
  api_key: "$NPM_TOKEN"
  skip_cleanup: true
  edge: true
  on:
    tags: true
    node: lts/*
notifications:
  slack:
    if: branch = main
    on_pull_requests: false
    on_success: never
    on_failure: change
    rooms:
      secure: eUl2Tml9sPD0rlMDqATij++MkSWTNNXK1Exq48lcQ15q8vw1acQyk+o5bkIOWl7qN3uVstFLMF4Ii06IqSI8giHW05RcKPazbnVocjkJUUely2zBdikuqyih7l7oOjg8xuOghfPjsjHdmUq+3A/PQheQIPkh4dWpNYRMbVc8erA6tLibcEgjvenp4ZC9Rr9k9zPngYA5TdLM8BcgSo/1961tEHzemze+AtZiiYIkEZhEIbLpxz1+9uW4/z4WZplP+i6RLsWUWmgdS+W9VPE6ezd0CYNTeeQjOxMfMVLHP0qUxwGSM7r2d2kscF3UVcSeBHenVgHF+y1B0cHDS/wGiV5diDOLLF9/K2JNLFEs7QDC94vVzrnieFQtKRs9yFu4Mhp6W23B7WTBH1S1GCceXADdP3P2x6J0P7/7HjJyvK2eYW7Lu/Rhp8drdF0lS4C94WH3K18Xb40uXNPwLBLZQ6LoKf0wxSO2ntVWld3GUqtRaQq6eBZv238Aw85S6jCVPR3krgwsNri3oeozKUqnTMPjtOvBi3Ggdorcw3W01Rvbn6PkvgWTdE5ak6Pzs1R30/dEnmi6zFGnGuNeUjnzhy5i9PMNjP9otpppLAfaYYHiDJ1aEAq0WUyuN0uVf4mR1Sjfippi7jXHtzil2DzCTxNtT5M/l5GBsx+rVAFc51I=
